body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
  
a {
    text-decoration: none;
}
  
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
  
.top-wrapper {
    padding: 180px 0 100px 0;
    background-color:white;
    background-size: cover;
    color: rgba(40,82,122);
    text-align: center;
    height: 1180px;
}
  
.top-wrapper h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
 
.top-wrapper p {
    opacity: 0.8;
    margin-bottom: 3px;
}
    
header {
    height: 65px;
    width: 100%;
    background-color: rgba(244,209,96);
    position: fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    height: 45px;
    margin-top: 10px;
}
  
.header-logo {
    float: left;
    margin-right: 20px;
    font-size: 35px;
    line-height: 65px;
    font-weight: bold;
}
  
.header-list {
    float: left;
}
  
.header-list a {
    float: left;
    transition: all 0.5s;
    line-height: 66px;
    padding: 0 25px;
    color: rgba(40,82,122);
    display: block;
    margin: 0;
}

.header-list a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}